# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so
*.ipynb_checkpoints
*.ropeproject

# Environments
.env
.venv
env/
venv/
ENV/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/

# VS Code
.vscode/